.authBanner {
  height: 20vh;
  background-image: url('https://i.imgur.com/1QzQutZ.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media only screen 
and (min-device-width: 1024px) {
 .authBanner {
  height: 30vh;
  background-size: 100vh ;
 } 
 h3 {
  font-size: larger;
 }
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
  h3 {
    font-size: smaller;
  }
}