.innerPopup {
  position: relative;
  padding: 32px;
  width: 100%;
  max-width: 640px;
  background-color: var(--theme-white);
}

.innerPopup > form {
  color: var(--theme-blue);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.innerPopup input:focus {
  border: var(--theme-blue) solid 1px;
}

input {
  margin-left: 2vmin;
}

.closeBtn {
  position: absolute;
  top: 16px;
  right: 16px;
  padding: 3px 10px;
}

.add {
  margin: 0 auto;
}

button {
  font-size: 1rem;
}