.exerciseListItem {
  border: solid black 1px;
  margin: 2vmin;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 3fr 1fr;
  background-color: white;
}

.info {
  border: solid black 1px;
  margin: 1vmin;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 2vmin;
}

.gif {
  border: solid black 1px;
  margin: 1vmin;
}

.buttons {
  border: solid black 1px;
  margin: 1vmin;
  grid-column: 1 / span 2;
  display: flex;
  justify-content: center;
}

.button {
  border: solid black 1px;
  border-radius: 8%;
  margin: 1vmin;
  width: 45%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button:hover {
  cursor: pointer;
}

.detail {
  background-color: var(--theme-red);
  color: var(--theme-white);
  border: solid 2px var(--theme-red);
}

.detail:hover {
  background-color: var(--theme-white);
  color: var(--theme-red);
  border: solid 2px var(--theme-red);
}

.add {
  background-color: var(--theme-blue);
  color: var(--theme-white);
  border: solid 2px var(--theme-blue);
}

.add:hover {
  background-color: var(--theme-white);
  color: var(--theme-blue);
  border: solid 2px var(--theme-blue);
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
 .exerciseListItem {
  grid-template-columns: 4fr 1fr;
  grid-template-rows: 1fr;
  margin-bottom: 0;
 }
  .gif {
  display: none;
 }
 .info {
  grid-column: 1 ;
  padding: 0 0 0 1vmin;
  margin-bottom: 0;
 }
 .buttons {
  grid-column: 2;
  flex-direction: column;
 }
 .button {
  width: 80%;
 }
 .info > p, h3 {
  margin-block-start: 0;
  margin-block-end: 0;
 }
 [data-alttext] > span {
  display: none;
}

[data-alttext]::before {
  content: attr(data-alttext);
} 
}