.exercisePage {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.leftContainer {
  display: flex;
  flex-direction: column;
  height: 85vh;
  justify-content: center;
  align-items: center;
  background-color: var(--theme-white);
}
.exerciseListContainer {
  height: 85vh;
  width: 41vw;
  overflow: auto;
  border-radius: 10px;
  background-color: var(--theme-white);
  -moz-box-shadow: 2px 2px 3px rgb(0, 0, 0);
  -webkit-box-shadow: 2px 2px 3px black;
  box-shadow: 2px 2px 3px black;
}

.exerciseList {
  height: 75vh;
  overflow: auto;
  margin: auto;
  width: 40vw;
  grid-row: 1 /span 2;
  grid-column: 2;
  background-color: var(--theme-white);
}

.listTitle {
  background-color: var(--theme-blue);
  height: 8vh;
  color: var(--theme-white);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3vmin;
}

.exerciseFilter {
  overflow: auto;
  border: solid black 2px;
  margin: auto;
  width: 40vw;
}

.newWorkoutBtn {
  border: solid var(--theme-blue) 1px;
  color: var(--theme-blue);
  margin: 1vmin;
  padding: 1vmin;
  width: 150px;
  text-align: center;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  align-items: center;
  background-color: white;
  -moz-box-shadow: 2px 2px 3px rgb(0, 0, 0);
  -webkit-box-shadow: 2px 2px 3px black;
  box-shadow: 2px 2px 3px black;
}

.newWorkoutBtn:hover {
  cursor: pointer;
  background-color: var(--theme-blue);
  color: var(--theme-white);
  border: solid 1px var(--theme-white);
}

@media only screen 
and (max-device-width : 480px) {
  h3, p {
    font-size: smaller;
  }
  .exerciseList {
    height: 60vh;
    width: 90vw;
  }
}

@media only screen and (min-width:380px) and (max-width:800px) {
  .exerciseList {
    width: 60vw;
  }
}